# Configuration
PRODUCTION=false
ORM=typeorm
STORAGE_PROVIDER="disk"
JWT_SECRET="123"

# ORM
DB_URL="postgresql://postgres:docker@127.0.0.1:5432/test_db?schema=public"

# Swagger Auth
DOCS_AUTH_USER=admin
DOCS_AUTH_PASSWORD=docker

# Mail
MAIL_PROVIDER=ethereal
EMAIL_FROM=
EMAIL_NAME=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

FRONTEND_URL=http://localhost:3001/app
